name: sample
data:
  n_measures: 8
  n_beats: 4
  n_parts_of_beat: 4
  ticks_per_beat: 480
  intro_blank_measures: 3
model:
  mode: pretrain
  latent_dim: 128
  encoder_hidden_dim: 1024
  decoder_hidden_dim: 1024
train:
  input_dir: "data/preprocess"
  batch_size: 32
  max_epochs: 100
  patience: 50
generate:
  output_dir: "data/output/musicvae"
  midi_file: "musicvae.mid"
  wav_file: "musicvae.wav"
logger:
  level: "INFO"