name: sample
data:
  n_measures: 8
  n_beats: 4
  n_parts_of_beat: 4
  ticks_per_beat: 480
  intro_blank_measures: 3
model:
  mode: pretrain
  hidden_dim: 128
  n_mask: 4
train:
  input_dir: "data/preprocess_fixer"
  batch_size: 32
  max_epochs: 300
  patience: 50
generate:
  output_dir: "data/output/melodyfixer"
  midi_file: "melodyfixer.mid"
  wav_file: "melodyfixer.wav"
logger:
  level: "INFO"